
@import url("/css/style.css")

html {
    font-family: "Helvetica", "Calibri", sans-serif !important;
}

body {
    font-family: "Helvetica", "Calibri", sans-serif !important;
}

#container {
    font-family: "Helvetica", "Calibri", sans-serif !important;
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

a:visited {
    color: #666;
}

a:hover {
    background: #eec;
}

#container {
    background: #fff;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

header {
    font-size: 2em;
}

#main {
    background: #fff;
}

#proj_listing {
    margin-top: 1em;
    width: 500px;
}

#proj_listing a:hover {
    background: #eec;
}

#proj_data, #project_details_data {
    padding: 0.5em;
}

#proj_data a {
/*    display: block; */
}

#proj_name a:hover {
    color: #000;
    background: none;
}

#proj_data .proj_name {   
    font-size: 1.2em;
}

#proj_data .proj_desc, #project_description {
    padding-left: 0.5em;
    font-size: 1.1em;
}

td a{
    display: block;
}
  
th {
    color: #000;
    background: #eef;
}

#bug_data {
    padding: 1em;
    margin: 1em;
}

#bug_desc {
    margin-top: 1em;
    margin-left: 1em;
}

#wiki_content {
    margin-top: 1em;
    margin-left: 1em;
}
